{
  "trailingComma": "none",
  "tabWidth": 2,
  "singleQuote": true,
  "proseWrap": "always",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}
